*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js

config*.yaml
!config.example.yaml
package-lock.json
pnpm-lock.yaml
yarn.lock
